.home {
    display: flex;
    flex-direction: column;

    .title {
        margin-top: 150px;
        margin-bottom: 100px;
        width: 100%;
        text-align: center ;
    }

    .assasins {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}